<h2>User info</h2>
<table class="table">
	<tbody>
		<%= attachment_image_tag user, :profile_image, :fill, 60, 60, class: "", fallback: "noimage.png", size:'60x60'%>
		<tr>
			<th>name</th>
			<td><%= user.name %></td>
		</tr>
		<tr>
			<th>introduction</th>
			<td><%= user.introduction %></td>
		</tr>
		<tr id='follower-count<%= user.id %>'>
			<%= render 'relationships/follower_count', user: user %>
		</tr>
		<tr id='following-count<%= user.id %>'>
			<%= render 'relationships/following_count', user: user %>
		</tr>
	</tbody>
</table>

<div id='follow<%= user.id %>'>
	<%= render 'relationships/follow', user: user %>
</div>